[package]
name = "graphest"
version = "0.4.1"
authors = ["Masashi Mizuno"]
edition = "2018"
repository = "https://github.com/unageek/graphest"
license = "MIT"
publish = false

[profile.release]
codegen-units = 1
lto = true

[features]
default = []
arb = []

[dependencies]
bitflags = "1.2"
inari = "0.9"
itertools = "0.10"
nom = "6.0"
smallvec = "1.6"
static_assertions = "1.1"

[dependencies.clap]
version = "3.0.0-beta.2"
default-features = false
features = ["cargo", "std"]

[dependencies.gmp-mpfr-sys]
version = "1.4"
default-features = false
features = ["mpfr"]

[dependencies.image]
version = "0.23"
default-features = false
features = ["png"]

[dependencies.rug]
version = "1.11"
default-features = false
features = ["float", "integer", "rational"]

[build-dependencies]
bindgen = "*"
