html,
body,
#app {
  height: 100%;
}

body {
  font-family: "Noto Sans";
  margin: 0;
}

:not(input):not(textarea) {
  user-select: none;
}

a:not([draggable]) {
  -webkit-user-drag: none;
}

.leaflet-layer {
  image-rendering: pixelated;
}

/* Scaled tiles */
.leaflet-tile-container:not([style$="scale(1);"]) {
  filter: blur(0.5px);
  opacity: 0.5;
}
