html,
body,
#app {
  height: 100%;
}

body {
  font-family: "Noto Sans";
  margin: 0;
}

:not(input):not(textarea) {
  user-select: none;
}

a:not([draggable]) {
  -webkit-user-drag: none;
}

.leaflet-layer {
  image-rendering: pixelated;
}

/* Scaled tiles */
.leaflet-tile-container:not([style$="scale(1);"]) {
  filter: blur(0.5px);
  opacity: 0.5;
}

.relation-input-outer {
  --indicator-width: 3px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px 8px 2px calc(8px + var(--indicator-width));
  position: relative;
}

.relation-input-outer::before {
  border-radius: calc(var(--indicator-width) / 2);
  bottom: 4px;
  content: "";
  left: 0;
  position: absolute;
  top: 4px;
  transition: background-color 50ms;
  width: var(--indicator-width);
}

.relation-input-outer.has-error::before {
  background-color: #d13438; /* theme.palette.red */
}

.relation-input-outer.processing::before {
  background-color: #0078d4; /* theme.palette.blue */
}

.relation-input {
  font-family: "DejaVu Mono";
  font-size: 16px;
  line-height: 1.5;
  word-spacing: -0.25ch;
}

.relation-input span.error {
  background-color: mistyrose;
}

.relation-input span.error-after > span[data-slate-zero-width="n"] > br {
  /*
   * Hide the <br> in:
   * https://github.com/ianstormtaylor/slate/blob/fece5c157099b5ddef9f6dc8d070f2fdb3724b90/packages/slate-react/src/components/string.tsx#L91
   */
  display: none;
}

.relation-input span.error-after::after {
  background-color: mistyrose;
  content: " ";
  word-spacing: normal;
}

.relation-input:focus span.highlight-left::before,
.relation-input:focus span.highlight-right::before {
  background-color: greenyellow;
  color: transparent;
  margin-right: -1ch;
  mix-blend-mode: multiply;
}

.relation-input:focus span.highlight-left::before {
  border-radius: 0.5ch 0 0 0.5ch / 50% 0 0 50%;
  /* Prevent the pseudo-element from affecting line break. */
  content: "(\2060";
}

.relation-input:focus span.highlight-right::before {
  border-radius: 0 0.5ch 0.5ch 0 / 0 50% 50% 0;
  content: ")\2060";
}

.relation-input span.syntax-error {
  color: #b4009e; /* theme.palette.magenta */
}

.relation-input-error-message {
  color: #d13438; /* theme.palette.red */
  font-size: 14px;
}
