html,
body,
#app {
  height: 100%;
}

body {
  font-family: "Noto Sans";
  margin: 0;
}

:not(input):not(textarea) {
  user-select: none;
}

a:not([draggable]) {
  -webkit-user-drag: none;
}

.leaflet-layer {
  image-rendering: pixelated;
}

/* Scaled tiles */
.leaflet-tile-container:not([style$="scale(1);"]) {
  filter: blur(0.5px);
  opacity: 0.5;
}

.relation-input {
  align-items: center;
  display: flex;
  font-family: "DejaVu Mono";
  font-size: 16px;
  line-height: 1.5;
  padding: 2px 8px 2px 12px;
  word-spacing: -0.25ch;
}

.relation-input::before {
  bottom: 2px;
  content: "";
  left: 0;
  position: absolute;
  top: 2px;
  transition: background-color 200ms;
  width: 4px;
}

.relation-input-processing::before {
  background-color: #0078d4;
}

.relation-input span.error {
  background-color: mistyrose;
}

.relation-input span.error-after > span[data-slate-zero-width="n"] > br {
  /*
   * Hide the <br> in:
   * https://github.com/ianstormtaylor/slate/blob/fece5c157099b5ddef9f6dc8d070f2fdb3724b90/packages/slate-react/src/components/string.tsx#L91
   */
  display: none;
}

.relation-input span.error-after::after {
  background-color: mistyrose;
  content: " ";
  word-spacing: normal;
}

.relation-input:focus span.highlight-left::before {
  background-color: greenyellow;
  border-radius: 0.5ch 0 0 0.5ch;
  /* Prevent line break right after the pseudo-element. */
  content: "\a0";
  margin-right: -1ch;
  mix-blend-mode: multiply;
  word-spacing: normal;
}

.relation-input:focus span.highlight-right::before {
  background-color: greenyellow;
  border-radius: 0 0.5ch 0.5ch 0;
  content: "\a0";
  margin-right: -1ch;
  mix-blend-mode: multiply;
  word-spacing: normal;
}

.relation-input span.syntax-error {
  color: tomato;
}
