name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUSTDOCFLAGS: -Ctarget-cpu=haswell -Dwarnings
  RUSTFLAGS: -Ctarget-cpu=haswell -Dwarnings

jobs:
  rust:
    if: "!contains(github.event.pull_request.labels.*.name, 'javascript')"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/gmp-mpfr-sys
            ~/.cache/graphest-arb-sys
          key: ${{ runner.os }}-${{ secrets.CACHE_VERSION }}-${{ hashFiles('Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ secrets.CACHE_VERSION }}-

      - uses: Swatinem/rust-cache@v2

      - name: Test (--no-default-features)
        run: cargo test --release --no-default-features -- -Zunstable-options --report-time

      - name: Test
        run: cargo test --release -- -Zunstable-options --report-time

      - name: Clippy (--no-default-features)
        run: cargo clippy --all-targets --no-default-features

      - name: Clippy
        run: cargo clippy --all-targets

      - name: Check format
        run: cargo fmt -- --check

      - name: Check docs
        run: cargo doc --document-private-items
        env:
          RUSTDOCFLAGS: ${{ env.RUSTDOCFLAGS }} -Arustdoc::private_intra_doc_links

  app:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build:app
        env:
          NODE_ENV: production

      - name: Test
        run: npm test

      - name: Lint
        run: npm run lint
