name: release

on:
  push:
    tags:
      - v*

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUSTDOCFLAGS: -Ctarget-cpu=haswell -Dwarnings
  RUSTFLAGS: -Ctarget-cpu=haswell -Dwarnings

jobs:
  windows:
    runs-on: windows-latest

    defaults:
      run:
        shell: msys2 {0}

    steps:
      - uses: actions/checkout@v6

      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: mingw64
          install: >-
            diffutils
            git
            m4
            make
            mingw-w64-x86_64-clang
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-nodejs
            mingw-w64-x86_64-rustup

      - name: Select Rust toolchain
        run: rustup set default-host x86_64-pc-windows-gnu

      - name: Install Yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: yarn

      - name: Release
        run: yarn release:win
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
